body {
  background-color: indianred;
}
.lists {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  background-color: lightblue;
}

.lists:hover {
  margin: 10px;
}
.lists > ol > li {
  color: teal;
  font-weight: bold;
}
.lists > ol > ul > li {
  color: tomato;
}

.lists > button {
  width: 200px;
  height: 50px;
  font-size: 24px;
  background-color: springgreen;
}
.lists > button:hover {
  background-color: teal;
  color: thistle;
}
